@import '../../responsive'; 
.register-container{
    width: 100%;
    height: 100vh;
    height: auto;
    margin-top: 90px;
    padding: 60px 0;
    background:linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)), url("https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619__340.jpg") center;
    background-size: cover;
    .register-wraper{
        width: 1400px;
        height: auto;
        margin: 0 auto;
        @include mobile{
            width: 100%;
        }
        h1{
            font-size: 45px;
            font-weight: 500;
            width:auto;
            height: auto;
            margin: 0 auto;
        }
        form{
            width: 500px;
            height: auto;
            margin: 0 auto;
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            padding: 30px 0;
            @include mobile {
                    width: 100%;
            }
            label{
                font-size: 20px;
                font-weight: 400;
                span {
                        color: red;
                    }
            }
            div{
                display: flex;
                padding: 0 10px;
                flex-direction: column;
                margin-top: 20px;
                .register-error{
                    font-size: 14px;
                    color: red;
                }
                input{
                    width: 100%;
                    height: 45px;
                    outline: none;
                    border: 1px solid rgb(194, 180, 180);
                    padding-left: 20px;
                }
            }
            a{
                text-align: center;
                text-decoration: underline;
            }
            button{
                height: 45px;
                margin-top: 20px;
                font-size: 25px;
                cursor: pointer;
                background: none;
                @include mobile {
                        width: 80%;
                        height: 35px;
                        font-size: 20px;
                        margin: 0 auto;
                        margin-top: 10px;
                }
            }
        }
    }
}