@import '../../responsive'; 
.payment-container{
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding-bottom: 20px;
    .payment-wraper{
        width: 1400px;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        @include mobile {
            width: 100%;
        }
        div{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            @include mobile {
                    flex-direction: column;
            }
            .payment-list-order{
                width: 70%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include mobile {
                        width: 100%;
                    }
                .payment-list-product{
                    width: 100%;
                    height: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 20px;
                }
                img{
                    width: 200px;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .payment-list-info{
                    h1{
                        font-weight: 400;
                    }
                    .payment-list-total{
                        font-size: 16px;
                        width: 50%;
                        span{
                            font-weight: bold;
                        }
                    }
                    .payment-list-info-tail{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        width: 100%;
                        height: auto;
                    }
                    margin-left: 10px;
                    display: flex;
                    font-size: 18px;
                    flex-direction: column;
                    align-items: flex-start;
                    @include mobile {
                            h1{
                                font-size: 20px;
                            }
                            .payment-list-info-des{
                                font-size: 14px;
                            }
                        }
                    span{
                        color: gray;
                        width: 70%;
                        margin-top: 5px;
                        @include mobile {
                                width: 100%;
                        }
                    }
                }
                .payment-list-info-color{
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    background-color: gray;
                    cursor: pointer;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
        .payment-sumary-payment{
            width: 30%;
            height: 300px;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            border: 1px solid rgb(180, 171, 171);
            .paypal-button-checkout{
                width: 80%;
            }
            @include mobile {
                    width: 100%;
                    padding: 0 10px;
                    margin: 0 10px;
                    margin-top: 20px;
                }
            .payment-sumary-payment-title{
                font-size: 30px;
                text-align: center;
            }
            div{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 18px;
                margin-top: 20px;
            }
            .payment-sumary-payment-total{
                font-size: 23px;
                text-align: center;
                font-weight: bold;
                margin-top: 20px;
            }
            button{
                width: 70%;
                height: 35px;
                margin: 0 30px;
                font-size: 23px;
                background: none;
                cursor: pointer;
                margin-top: 20px;
                @include mobile{
                    width: 50%;
                }
            }
        }
    }
}