@import '../../responsive'; 
.address-container{
    width:100%;
    height: auto;
    margin-top: 100px;
    .address-wraper{
        width: 1400px;
        height: 70vh;
        margin: 0 auto;
        @include mobile{
            width: 100%;
            height: auto;
        }
       .address-form{
           width: 700px;
           height: auto;
           margin: 0 auto;
            @include mobile {
                width: 100%;
                height: auto;
            }
           form{
               margin: 0 auto;
               width: 50%;
               height: auto;
               display: flex;
               flex-direction: column;
               align-items: center;
               background-color: #EEEE;
               margin-top: 30px;
                @include mobile {
                    width: 100%;
                    height: auto;
                }
               div{
                    span{
                        font-size: 14px;
                        color: red;
                    }
                   width: 100%;
                   display: flex;
                   flex-direction: column;
                   padding: 10px;
                   label{
                       font-size: 20px;
                       font-weight: 400;
                       span{
                           color: red;
                       }
                   }
                   input{
                       height: 40px;
                       outline: none;
                       padding-left: 10px;
                       border: 1px solid rgb(180, 172, 172);
                       border-top: transparent;
                       border-left: transparent;
                       border-right: transparent;
                       background-color: transparent;
                   }
                   button{
                       height: 45px;
                       font-size: 25px;
                       background: none;
                       margin-top: 20px;
                       cursor: pointer;
                       @include mobile{
                        background-color: gray;
                        color: white;
                        border: none;
                       }
                   }
               }
           }
       }
    }
}